<!DOCTYPE html>
<html>
<head>
  <title>Invoices</title>

</head>
<body>
<%= stylesheet_link_tag "application" %>

<table width="100%" style="border-collapse:collapse;">
  <tr>
    <td width="100%"
    "><%= image_tag("http://www.constructionsupportline.co.uk/images/new-logo.png", :alt => "logo") %></td>
    <td align="right" valign="bottom">Construction Support Line Ltd</td>


  </tr>
  <tr>
    <td width="100%"></td>
    <td align="right">Unit 3 Tavern Quay Business Centre</td>

  </tr>
  </tr>
  <tr>
    <td></td>
    <td align="right">Sweden Gate</td>

  </tr>
  <tr>
    <td></td>
    <td align="right">SE16 7TX</td>

  </tr>
  <tr>
    <td></td>
    <td align="right">London, UK</td>

  </tr>
  <tr>
    <td></td>
    <td align="right">Customer Support: 0845 557 7427</td>

  </tr>
  <tr>
    <td></td>
    <td align="right">Email: support@constructionsupport.co.uk</td>

  </tr>
  <tr>
    <td colspan="2">__________________________________________________________________________________________________________________________</td>


  </tr>
  <tr>
    <td><h2><%= @invoice.customer.company %></h2></td>
    <td align="right"><h1>INVOICE</h1></td>

  </tr>

</table>

<table width="100%" style="border-collapse: collapse">
  <tr>
    <td width="20%"></td>
    <td width="40%"></td>
    <td></td>

  </tr>

  <tr>
    <td width="20%"><b>Address</b></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>

    <td><%= @invoice.customer.address_1 %></td>
    <td></td>
    <td><b> Document type</b></td>
  </tr>
  <tr>
    <td> <%= @invoice.customer.address_2 %></td>
    <td></td>
    <td> Invoice</td>
  </tr>
  <tr>
    <td> <%= @invoice.customer.city %></td>
    <td></td>
    <td><b> Date (tax point)</b></td>
  </tr>
  <tr>
    <td> <%= @invoice.customer.postcode %></td>
    <td></td>
    <td><%= @invoice.created_at.strftime("%d %b. %Y") %></td>

  </tr>
  <tr>
    <td>Romania
    <td></td>
    <td><b>Due Date </b>
      <% c=@invoice.invoice_items.count; count=20-c %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <% due=@invoice.created_at + 15.day %><%= due.strftime("%d %b. %Y") %> </td>
  </tr>
  <tr>
    <td><b>Contact number</b></td>
    <td></td>
    <td><b>Invoice id</b></td>
  </tr>
  <tr>
    <td><%= @invoice.customer.contact_number %></td>
    <td></td>
    <td><%= id=@invoice.id+1000 %></td>
  </tr>
  <tr>
    <td><%= @invoice.customer.email %></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br>
<br>
<table width="100%" style="border-collapse: collapse">
  <tr height="25">
    <th style="border:1px solid black;border-bottom: solid black 2px; background-color:#ececec;" width="5%" align="left">No</th>
    <th style="border:1px solid black;border-bottom: solid black 2px; background-color:#ececec;" width="65%" align="left">Product
      description
    </th>
    <th style="border:1px solid black;border-bottom: solid black 2px; background-color:#ececec;" width="10%" align="left">Value</th>
    <th style="border:1px solid black;border-bottom: solid black 2px; background-color:#ececec;" width="10%" align="left">Qty</th>
    <th style="border:1px solid black;border-bottom: solid black 2px; background-color:#ececec;" width="10%" align="left">LineCost</th>

  </tr>
  <% i=0 %>
  <% s=0 %>
  <% disc=0 %>
  <% cis=0 %>
  <% vat=0 %>
  <% subtotal=0 %>
  <% @invoice.invoice_items.each do |item| %>
      <tr height="25">
        <% i+=1 %>
        <td style="border-left:1px solid black;" align="center"><%= i %></td>
        <td style="border-left:1px solid black;"><%= item.name %></td>
        <td style="border-left:1px solid black;" align="right"><%= number_to_currency(item.value, :unit => "&pound; ") %></td>
        <% subtotal = item.value*item.quantity %>


        <% s+= subtotal %>
        <% if item.cis %>
            <% cis+= subtotal %>
        <% end %>
        <% if item.vat %>
            <% vat+= subtotal %>
        <% end %>
        <td style="border-left:1px solid black;" align="center"><%= item.quantity %></td>
        <td style="border-left:1px solid black;border-right:1px solid black" align="right"><%= number_to_currency(subtotal, :unit => "&pound; ") %></td>


      </tr>

  <% end %>
  <% @invoice.invoice_items.each do |item| %>
      <% if item.discount > 0 %>
          <tr height="25">
            <% i+=1 %>
            <td style="border-left:1px solid black;" align="center"><%= i %></td>
            <td style="border-left:1px solid black;">
              <i><%= 'Discount for ' + item.name + ', ' + item.discount.to_i.to_s + '%' %></i></td>
            <td style="border-left:1px solid black;" align="right"><%= number_to_currency(item.value*item.discount*item.quantity/100, :unit => "&pound; ") %></td>

            <td style="border-left:1px solid black;" align="center"><%= 1 %></td>
            <td style="border-left:1px solid black;border-right:1px solid black" align="right">-<%= number_to_currency(item.value*item.discount*item.quantity/100, :unit => "&pound; ") %></td>
            <% disc+= item.value*item.discount*item.quantity/100 %>
            <% if item.vat %>
                <% vat-= disc %>
            <% end %>
            <% if item.cis %>
                <% cis-= disc %>
            <% end %>
            <% s-= disc %>
          </tr>
      <% end %>
  <% end %>
  <% for i in 0..count do %>
      <tr height="20">
        <td style="border-left:1px solid black;"></td>
        <td style="border-left:1px solid black;"></td>
        <td style="border-left:1px solid black;"></td>
        <td style="border-left:1px solid black;"></td>
        <td style="border-left:1px solid black;border-right:1px solid black" align="center">-</td>
      </tr>
  <% end %>
  <tr height="20">
    <td style="border-left:1px solid black;border-bottom:1px solid black"></td>
    <td style="border-left:1px solid black;border-bottom:1px solid black"></td>
    <td style="border-left:1px solid black;border-bottom:1px solid black"></td>
    <td style="border-left:1px solid black;border-bottom:1px solid black"></td>
    <td style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black" align="center">-</td>
  </tr>
  <tr height="20">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td style="border:1px solid black;" align="right">Sub Total</td>
    <td style="border:1px solid black;" align="right"><%= number_to_currency(s, :unit => "&pound; ") %></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td style="border:1px solid black;" align="right">Discount</td>
    <td style="border:1px solid black;" align="right"><%= number_to_currency(disc, :unit => "&pound; ") %></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td style="border:1px solid black;" align="right"><b>VAT</b></td>
    <% t=vat*20/100 %>
    <td align="right" style="border:1px solid black;"><%= number_to_currency(t, :unit => "&pound; ") %></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td style="border:1px solid black;" align="right">CIS Deduction</td>
    <% cis=cis*20/100 %>
    <td style="border:1px solid black;" align="right"><%= number_to_currency(cis, :unit => "&pound; ") %></td>
  </tr>
  <tr height="30">
    <td></td>
    <td></td>
    <td></td>
    <td style="background-color:#ececec;border:1px solid black;" align="right"><b>TOTAL</b></td>
    <td style="background-color:#ececec;border:1px solid black;" align="right">
      <b><%= number_to_currency(s+t-cis, :unit => "&pound; ") %></b></td>
  </tr>
</table>


<%= yield %>

</body>
</html>
